__pycache__/
preprocess
cache/
torch_data_loader
old_notebooks
trained_models
optuna_journal_storage.log
main_mydata_storico.py
traffic_time_series
download_data*
.vscode
outputs
outputs
ztl_time_series
spire_time_series
TODO.txt
test.lancedb/
preprocess/
data/old
TODO.txt
bus_data
old_exp
pre_processing.ipynb